html {
  font-size: 62.5%;
}

body {
  margin-top: 0;
  font-family: "Jigsaw Regular", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #414244;
}

a {
  text-decoration: none;
  color: #0974E9;
  font-family: "Jigsaw Medium", Helvetica, sans-serif;
}

a:hover {
  color: #024FA1;
}

hr {
  border: none;
  border-bottom: 1px solid #c1bcbc;
  width: 1050px;
  margin: 6rem auto;
}

h1 {
  font-family: "Jigsaw Bold", Helvetica, sans-serif;
  font-size: 5.2rem;
  font-weight: normal;
  text-align: center;
  margin: 8rem 0 0;
  padding-right: 6rem;
}

h1 img {
  width: 6.4rem;
  vertical-align: top;
  position: relative;
  top: -3px;
  margin-right: 1rem;
}

h2 {
  font-family: "Jigsaw Bold", Helvetica, sans-serif;
  font-size: 3.2rem;
  font-weight: normal;
  text-align: center;
  margin: 4rem 0;
}

header h2 {
  font-family: "Jigsaw Light", Helvetica, sans-serif;
  color: #5a5b5e;
  margin: 1rem 0;
}

#big_screen {
  text-align: center;
  margin: 6rem 0;
}

.top {
  margin: 0 auto;
  padding: 1rem;
  background: #d8d8d8;
  display: table;
  font-size: 1.6rem;
}

.top a {
  margin: 0 1rem;
  color: #5a5b5e;
  font-family: "Jigsaw Regular", Helvetica, sans-serif;
}

.top a:hover {
  color: #28292a;
}

.github-fork-ribbon {
  background-color: #10355F;
}

#download {
  display: table;
  margin: 3rem auto 0;
  background: #3D93F5 url(download.png) no-repeat 15px center;
  background-size: 35px 40px;
  padding: 1.3rem 2rem 1rem 70px;
  border-radius: 10px;
  font-size: 2.8rem;
  color: white;
}

#download:hover {
  background-color: #0D78F2;
}

#download p {
  margin: 0;
  color: white;
}

.download-info {
  text-align: center;
  font-size: 1.4rem;
  color: #5a5b5e;
}

.reasons {
  width: 700px;
  margin: 0 auto;
  overflow: auto;
}

.reason {
  width: 345px;
  float: left;
  box-sizing: border-box;
  padding: 0px 25px;
}

.reason img {
  width: 48px;
  vertical-align: middle;
  position: relative;
  top: -3px;
  margin-right: 1.2rem;
}

.feature {
  width: 1050px;
  margin: 10rem auto;
  overflow: auto;
}

.feature.screen-left .screen, .feature.screen-right .info {
  float: left;
}

.feature.screen-left .info, .feature.screen-right .screen {
  float: right;
}

.feature .info, .feature .screen {
  width: 500px;
  margin: 0;
  box-sizing: border-box;
}

.feature .info {
  padding: 25px 45px;
}

h3 {
  font-family: "Jigsaw Bold", Helvetica, sans-serif;
  font-size: 2.6rem;
  font-weight: normal;
}

p {
  font-family: "Jigsaw Light", Helvetica, sans-serif;
  font-size: 1.9rem;
}

footer {
  margin: 5rem auto 4rem;
  display: table;
  font-size: 1.6rem;
}

footer a {
  color: #5a5b5e;
  margin: 0 1.2rem;
}

footer a:hover {
  color: #28292a;
}

footer .github {
  width: 1.6rem;
  position: relative;
  top: 2px;
  margin-right: 0.2rem;
}

footer .bitcoin {
  width: 1.5rem;
  position: relative;
  top: 2px;
  margin-right: 0.1rem;
}

footer .twitter {
  width: 1.6rem;
  position: relative;
  top: 2px;
}
