---
title: "Crowdfunding"
---

# ![](hive-icon.png) Hive Mac crowdfunding

<p style="background-color: #fee; padding: 7px 14px; border: 1px solid #fdd; border-radius: 7px; display: table; width: auto; margin-top: 4rem;">The Lighthouse crowdfunding has been cancelled since there wasn't enough interest.</p>

## What is Hive Mac?

Hive Mac is a **desktop Bitcoin wallet**. The first beta versions were released in [autumn 2013](https://bitcointalk.org/index.php?topic=304060), and a stable version has been available since January 2014. It was developed as an open source project since its early days, licensed under GPL license and [available on GitHub](https://github.com/hivewallet/hive-mac). Thanks to the Bitcoin community, the app was translated to [over 30 languages](https://www.transifex.com/projects/p/hive-osx/).

## Why a Mac-only wallet?

A lot of Bitcoin users keep their bitcoins in web wallets because of the convenience and user experience they offer. However, those services act like "Bitcoin banks", which means that they're usually in full control of their users' bitcoins, and that approach has some serious disadvantages: the service can shut down [locking the users out of their funds forever](http://en.wikipedia.org/wiki/Mt._Gox), or they can [terminate your account](http://cointelegraph.com/news/113207/coinbase-is-tracking-how-users-spend-their-bitcoins) or prevent you from making transactions whenever they want.

In constrast, desktop and mobile wallets allow you to "**be your own bank**", keeping the bitcoins on your own device, as the system was originally designed to work.

Unlike most other desktop wallets, Hive puts emphasis on user experience and ease of use. It's also the only wallet which is **designed specifically for the Mac** and built using Apple's application frameworks. That makes it more intuitive to use, since it behaves like other native Mac apps, and lets it integrate better with the rest of the system.


## What is the crowdfunding for?

The goal of the crowdfunding is to fund the development of version 2.0 of Hive Mac that will turn it into an **HD wallet**, allowing it to generate new addresses for each new transaction instead of reusing a single address. The new version will also use a 12-word phrase as the wallet seed (same as e.g. Hive iOS or Breadwallet). In the process, Hive will switch from a Java-based Bitcoin library ([bitcoinj](http://bitcoinj.github.io)) to a native one written in ObjC ([CoreBitcoin](https://github.com/oleganza/CoreBitcoin)) to get rid of the Java runtime dependency.

To avoid the fate of Duke Nukem Forever, the UI will remain largely unchanged for now, apart from the changes needed to handle the changing addresses and the new wallet format.

(Read the [technical blog post](https://mac.hivewallet.com/blog/2015/02/17/hive-2-0-plans/) for more details.)


## Who is doing it?

**Kuba Suder**, the current maintainer and main developer of Hive Mac. I&nbsp;joined the project in August 2013 and I&nbsp;wrote most of the code currently included in the app. I'm known as [psionides](https://reddit.com/user/psionides) on Reddit, [@kuba_suder](https://twitter.com/kuba_suder) on Twitter and [mackuba](https://github.com/mackuba) on GitHub.


## Why Lighthouse?

Hive Mac was developed as the first product of Hive Labs. However, after [Hive iOS and Hive Android](https://hivewallet.com) were launched in summer 2014, it became increasingly clear that the mobile app family would be Hive’s main focus going forward. At some point it stopped making sense to pay for continuous work on two completely independent wallets; the choice was to either abandon Hive Mac, or continue development as a non-commercial, open source project.

I've decided to do the latter - I&nbsp;believe that to bring Bitcoin to the mainstream, we need fully native, nice looking, user-friendly wallet apps for all platforms. While new mobile and web wallets appear almost monthly, on the desktop we're still stuck with basically the same few multi-platform wallets that have been around for years, none of which feels like a true Mac app. Hive Mac needs to exist, because there's nothing else like it.

Since the summer I've been working on Hive Mac in my spare time, adding minor features and bug fixes. The HD wallet however is a major task, and at my current pace it will take a long time to complete. So I've decided to launch a [Lighthouse](https://www.vinumeris.com/lighthouse) crowdfunding and ask the community for help to let me speed things up.


## How much is needed?

I&nbsp;want to raise 40 BTC, which is around $10,000 or €8,500 at the moment of writing this. The money will allow me to take a break from my current (non-Bitcoin-related) contract work to focus on Hive Mac for a while (I&nbsp;think a realistic estimate is about 3 months of work, but software projects are [really hard to estimate](http://www.michaelrwolfe.com/2013/10/19/50/) in general). Read the [blog post](https://mac.hivewallet.com/blog/2015/02/17/hive-2-0-plans/) to see what's involved.


## What will it improve?

<section>
<ul>
<li><strong>privacy</strong> - using a new address for each transaction makes it much harder for people to snoop on your transactions</li>
<li><strong>security</strong> - using each public key only once is considered more secure</li>
<li><strong>compatibility</strong> - the 12-word seed will be compatible with other wallets, including Hive iOS</li>
<li><strong>easier installation</strong> - downloading a Java installer won't be needed, and there's a big chance Hive will be available in the Mac App Store</li>
<li><strong>speed</strong> - Hive 2.0 should start much faster</li>
<li><strong>CoreBitcoin</strong> - any missing parts that need to be added will be included in CoreBitcoin whenever it makes sense, sharing the improvements with other wallets using it (e.g.&nbsp;<a href="https://itunes.apple.com/us/app/mycelium-bitcoin-wallet/id943912290?mt=8">Mycelium</a> or <a href="https://itunes.apple.com/us/app/bitstore/id890668158?mt=8">BitStore</a>)</li>
</ul>
</section>


## What I will I get in return?

Mostly a warm fuzzy feeling of having helped build a modern native Bitcoin wallet for the Mac&nbsp;:) I&nbsp;will also list all backers (those who provide a name) on the Hive Mac website, and the top 10 will be included in the credits in the "About" window.


## When does the crowdfunding end?

It ends when the project is funded - crowdfunding projects on the Lighthouse platform don't have deadlines, unless the project owner explicitly announces that they will only accept pledges until a given date. I think that in this case this would only decrease the chance of success, not increase it.


## How to back the project?

<section>
  <ol>
    <li><a href="https://www.vinumeris.com/lighthouse">Download the Lighthouse app</a> and run it on your computer. It might ask you to restart at least once, and you'll need to wait until the "Synchronizing" progress bar disappears.</li>
    <li>Download Hive Lighthouse project file and double-click it or drag it into the Lighthouse window or onto the Lighthouse icon. You should then see the <%= link_to "Hive project displayed inside Lighthouse", image_path('lighthouse-hive.png') %>.</li>
    <li>To make a pledge, you need to transfer the funds to Lighthouse's internal wallet first. Send the amount you want to contribute to the address you see in the top-left corner of the window - click one of the icons next to it to copy the address or show a QR code. (Note: due to current limitations of Lighthouse and the Bitcoin blockchain, you can't pledge an amount smaller than about 58 mBTC to this project.)</li>
    <li>Wait for the bitcoins to arrive in the Lighthouse wallet - this shouldn't normally take more than a few seconds. Then, with the Hive Mac project selected, click the "Pledge" button on the right.</li>
    <li>Click "Maximum amount possible", or enter an amount manually. If you want to be listed as a crowdfunding backer on the website, enter a name (note: this will be visible for everyone on the project page) or an email address (which is private). You can also enter an optional message (also public). When you're ready, click "Confirm".</li>
  </ol>
</section>
